name: mfhr_sti
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - numpy
  - pandas
  - scipy
  - scikit-learn
  - matplotlib
  - seaborn
  - simpy
  - networkx
  - pytorch=2.2
  - pytorch-cuda=12.1
  - torchvision
  - torchaudio
  - cudatoolkit
  - pip:
      - tqdm
      - openpyxl
      - python-docx